; Config::Simple 4.59
; Sun Aug 21 23:17:46 2016

[MAIN]
SUBFOLDER=REPLACEBYSUBFOLDER
SCRIPTNAME=REPLACEBYNAME
SENDUDP=0
UDPPORT=7000
SENDMQTT=0
MQTTTOPIC=smartmeter
CRON=5
READ=0
IMPLEMENTATION=vzlogger

[VZLOGGER]
LOCALPORT=18080
UDPINTERVAL=5
DEBUG=0
VZLOGGERDEBUG=0
LOGLEVEL=0
