; Config::Simple 4.59
; Sun Aug 21 23:17:46 2016

[MAIN]
SUBFOLDER=REPLACEBYSUBFOLDER
SCRIPTNAME=REPLACEBYNAME
SENDUDP=0
UDPPORT=7000
SENDMQTT=0
MQTTTOPIC=smartmeter
CRON=5
READ=0
IMPLEMENTATION=vzlogger

[VZLOGGER]
RETRY=30
LOCALENABLED=1
LOCALPORT=18080
LOCALINDEX=1
LOCALTIMEOUT=30
LOCALBUFFER=-1
UDPINTERVAL=5
DEBUG=0
VZLOGGERDEBUG=0
LOGLEVEL=0
MQTTENABLED=1
MQTTHOST=
MQTTPORT=
MQTTCAFILE=
MQTTCAPATH=
MQTTCERTFILE=
MQTTKEYFILE=
MQTTKEYPASS=
MQTTKEEPALIVE=30
MQTTID=
MQTTUSER=
MQTTPASS=
MQTTRETAIN=1
MQTTRAWANDAGG=0
MQTTQOS=0
MQTTTIMESTAMP=1
