<style>
	.listtable td
	{
		vertical-align	:middle;
		text-align	:center;
	}
	.listtable td img
	{
		padding		:5px;
	}
	.lb_flex-item 
	{	
		min-width	:450px;
		width		:450px;
		max-width	:450px;
		flex-wrap	:nowrap;
		margin-top: -10px;  
	}
	.lb_flex-item-help 
	{
		min-width	:100px;
		width		:100%;
		position	:relative;
		margin-left	:10px;
	}
	.mqtttable {
		vertical-align: middle;
		text-align: left;
		/* font-size: 90%; */
		border-collapse: collapse;
		border: 1px solid grey;
		padding: 10px;
		width: 100%;
		
	}
	.mqtttable_vicol, .mqtttable_desccol {
		border: 1px solid grey;
		padding: 10px;
	}
	.mqtttable_headrow {
	
	}
	.service-status {
		display: inline-block;
		padding: 4px 8px;
		border-radius: 4px;
		font-weight: bold;
	}
	.service-status-idle { background: #e0e0e0; color: #333; }
	.service-status-ok { background: #d7f0d2; color: #245b1d; }
	.service-status-warning { background: #ffe0b2; color: #7a4100; }
	.service-status-error { background: #f5c6cb; color: #721c24; }
	.implementation-tabs { width: 100%; }
	.implementation-tabs ul { display: flex !important; width: 100% !important; }
	.implementation-tabs li { float: none !important; flex: 1 1 50%; width: 50% !important; }
	.implementation-tabs .ui-btn { min-height: 2.8em; padding: .6em .8em; font-size: 1.08em; line-height: 1.2; text-align: center; white-space: normal; overflow-wrap: anywhere; border-right-width: 1px !important; }
	.inline-link { margin-right: 1em; }
	.vzlogger-live-links { margin-top: 0.4em; }

</style>


<!-- ****************************************************************************************** -->

<TMPL_IF FORM_VZLOGGER>
	<div data-role="navbar" class="ui-navbar implementation-tabs" role="navigation" style="margin: 0 0 12px 0;">
		<ul>
			<li><a href="./index.cgi?form=vzlogger" class="ui-btn-active"><TMPL_VAR NAME=T::MENU.VZLOGGER></a></li>
			<li><a href="./index_legacy.cgi?form=legacy"><TMPL_VAR NAME=T::MENU.LEGACY></a></li>
		</ul>
	</div>
	<form method="post" data-ajax="false" name="vzlogger_form" id="vzlogger_form" action="./index.cgi">
	<input type="hidden" name="saveformdata" value="1">

	<TMPL_IF VZLOGGER_MESSAGE>
		<pre style="background-color: rgba(255,255,200,0.4); border: 1px solid #888; padding: 10px;"><TMPL_VAR VZLOGGER_MESSAGE></pre>
	</TMPL_IF>

	<table border=0 width="100%" cellpadding="10">
	<tr>
		<td width="20%"><label for="implementation"><TMPL_VAR NAME=T::VZLOGGER.IMPLEMENTATION_MODE></label></td>
		<td width="55%">
			<select id="implementation" name="implementation" data-role="flipswitch">
				<option value="legacy"><TMPL_VAR NAME=T::GENERIC.OFF></option>
				<option value="vzlogger"><TMPL_VAR NAME=T::GENERIC.ON></option>
			</select>
		</td>
		<td width="5%">&nbsp;</td>
		<td width="20%"><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.IMPLEMENTATION_MODE_HELP></font></td>
	</tr>
	<tr>
		<td><TMPL_VAR NAME=T::VZLOGGER.VZLOGGER_SERVICE></td>
		<td>
			<span class="service-status <TMPL_VAR VZLOGGER_SERVICE_STATUS_CLASS>"><TMPL_VAR VZLOGGER_SERVICE_STATUS></span><br>
			<button type="submit" name="submitaction" value="restart-vzlogger" form="vzlogger_form" data-role="button" data-inline="true" data-mini="true" data-icon="refresh" <TMPL_VAR VZLOGGER_SERVICE_CONTROL_DISABLED>><TMPL_VAR NAME=T::VZLOGGER.RESTART_SERVICE></button>
			<TMPL_IF VZLOGGER_SERVICE_RUNNING>
				<button type="submit" name="submitaction" value="stop-vzlogger" form="vzlogger_form" data-role="button" data-inline="true" data-mini="true" data-icon="delete" <TMPL_VAR VZLOGGER_SERVICE_CONTROL_DISABLED>><TMPL_VAR NAME=T::VZLOGGER.STOP_SERVICE></button>
			<TMPL_ELSE>
				<button type="submit" name="submitaction" value="start-vzlogger" form="vzlogger_form" data-role="button" data-inline="true" data-mini="true" data-icon="power" <TMPL_VAR VZLOGGER_SERVICE_CONTROL_DISABLED>><TMPL_VAR NAME=T::VZLOGGER.START_SERVICE></button>
			</TMPL_IF>
			<a href="<TMPL_VAR VZLOGGER_LOG_URL>" target="log" data-role="button" data-inline="true" data-mini="true" data-icon="bars" class="<TMPL_VAR VZLOGGER_LOG_DISABLED>"><TMPL_VAR NAME=T::VZLOGGER.SHOW_LOG></a>
			<label style="display:inline-block" for="vzlogger_service_debug"><TMPL_VAR NAME=T::VZLOGGER.DEBUG_LOG></label>
			<select id="vzlogger_service_debug" name="vzlogger_service_debug" data-role="flipswitch"><option value="0"><TMPL_VAR NAME=T::GENERIC.OFF></option><option value="1"><TMPL_VAR NAME=T::GENERIC.ON></option></select>
			<label style="display:inline-block" for="vzlogger_loglevel"><TMPL_VAR NAME=T::VZLOGGER.LOG_LEVEL></label>
			<select id="vzlogger_loglevel" name="vzlogger_loglevel" data-inline="true" data-mini="true">
				<option value="0">0 - <TMPL_VAR NAME=T::VZLOGGER.LOG_LEVEL_0></option>
				<option value="1">1 - <TMPL_VAR NAME=T::VZLOGGER.LOG_LEVEL_1></option>
				<option value="3">3 - <TMPL_VAR NAME=T::VZLOGGER.LOG_LEVEL_3></option>
				<option value="5">5 - <TMPL_VAR NAME=T::VZLOGGER.LOG_LEVEL_5></option>
				<option value="10">10 - <TMPL_VAR NAME=T::VZLOGGER.LOG_LEVEL_10></option>
				<option value="15">15 - <TMPL_VAR NAME=T::VZLOGGER.LOG_LEVEL_15></option>
			</select>
			<div class="vzlogger-live-links">
				<a class="inline-link <TMPL_VAR VZLOGGER_LIVE_DISABLED>" href="<TMPL_VAR VZLOGGER_LIVEURL>" target="_blank"><TMPL_VAR NAME=T::VZLOGGER.OPEN_LIVE_READINGS></a>
				<a class="inline-link <TMPL_VAR VZLOGGER_LIVE_DISABLED>" href="<TMPL_VAR VZLOGGER_RENDERED_URL>" target="_blank"><TMPL_VAR NAME=T::VZLOGGER.OPEN_RENDERED_READINGS></a>
			</div>
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.VZLOGGER_DEBUG_HELP><br>/opt/loxberry/log/plugins/smartmeter-v2/vzlogger.log</font></td>
	</tr>
	<tr>
		<td><label for="vzlogger_localport"><TMPL_VAR NAME=T::VZLOGGER.HTTP_PORT></label></td>
		<td>
			<input id="vzlogger_localport" name="vzlogger_localport" type="text" data-validation="number" value="<TMPL_VAR VZLOGGER_LOCALPORT>"
				data-validation-allowing="range[1024;65000]" data-mini="true">
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.HTTP_PORT_HELP></font></td>
	</tr>
	<tr>
		<td><label for="mqtttopic"><TMPL_VAR NAME=T::VZLOGGER.MQTT_BASE_TOPIC></label></td>
		<td>
			<input id="mqtttopic" name="mqtttopic" type="text" class="textfield" value="<TMPL_VAR MQTTTOPIC>"
				data-validation="custom" data-validation-regexp="^[^#+]+$">
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.MQTT_BASE_TOPIC_HELP></font></td>
	</tr>
	<tr>
		<td colspan=4><h2><TMPL_VAR NAME=T::VZLOGGER.METER_READING></h2><p><TMPL_VAR NAME=T::VZLOGGER.BRIDGE_DESCRIPTION></p></td>
	</tr>
	<tr>
		<td width="20%"><label for="read"><TMPL_VAR NAME=T::VZLOGGER.READ_METERS></label></td>
		<td width="55%">
			<select onChange="disable_cron();" id="read" name="read" data-role="flipswitch">
				<option value="0"><TMPL_VAR NAME=T::GENERIC.OFF></option>
				<option value="1"><TMPL_VAR NAME=T::GENERIC.ON></option>
			</select>
		</td>
		<td width="5%">&nbsp;</td>
		<td width="20%"><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.READ_METERS_HELP></font></td>
	</tr>
	<tr>
		<td><TMPL_VAR NAME=T::VZLOGGER.BRIDGE_SERVICE></td>
		<td>
			<span class="service-status <TMPL_VAR BRIDGE_SERVICE_STATUS_CLASS>"><TMPL_VAR BRIDGE_SERVICE_STATUS></span><br>
			<button type="submit" name="submitaction" value="restart-bridge" form="vzlogger_form" data-role="button" data-inline="true" data-mini="true" data-icon="refresh" <TMPL_VAR BRIDGE_SERVICE_CONTROL_DISABLED>><TMPL_VAR NAME=T::VZLOGGER.RESTART_SERVICE></button>
			<TMPL_IF BRIDGE_SERVICE_RUNNING><button type="submit" name="submitaction" value="stop-bridge" form="vzlogger_form" data-role="button" data-inline="true" data-mini="true" data-icon="delete"><TMPL_VAR NAME=T::VZLOGGER.STOP_SERVICE></button><TMPL_ELSE><button type="submit" name="submitaction" value="start-bridge" form="vzlogger_form" data-role="button" data-inline="true" data-mini="true" data-icon="power" <TMPL_VAR BRIDGE_SERVICE_CONTROL_DISABLED>><TMPL_VAR NAME=T::VZLOGGER.START_SERVICE></button></TMPL_IF>
			<a href="<TMPL_VAR BRIDGE_LOG_URL>" target="log" data-role="button" data-inline="true" data-mini="true" data-icon="bars" class="<TMPL_VAR BRIDGE_LOG_DISABLED>"><TMPL_VAR NAME=T::VZLOGGER.SHOW_LOG></a>
			<label style="display:inline-block" for="vzlogger_debug"><TMPL_VAR NAME=T::VZLOGGER.DEBUG_LOG></label>
			<select id="vzlogger_debug" name="vzlogger_debug" data-role="flipswitch"><option value="0"><TMPL_VAR NAME=T::GENERIC.OFF></option><option value="1"><TMPL_VAR NAME=T::GENERIC.ON></option></select>
		</td><td>&nbsp;</td><td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.DEBUG_LOG_HELP><br>/opt/loxberry/log/plugins/smartmeter-v2/vzlogger_mqtt_bridge.log</font></td>
	</tr>
	<tr>
		<td><label for="vzlogger_udpinterval"><TMPL_VAR NAME=T::VZLOGGER.UPDATE_CYCLE></label></td>
		<td>
			<select id="vzlogger_udpinterval" name="vzlogger_udpinterval" data-mini="true" data-native-menu="true">
				<TMPL_LOOP NAME=VZLOGGER_UDPINTERVAL_OPTIONS>
					<option value="<TMPL_VAR NAME=VALUE>" <TMPL_VAR NAME=SELECTED>><TMPL_VAR NAME=LABEL></option>
				</TMPL_LOOP>
			</select>
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.UPDATE_CYCLE_HELP></font></td>
	</tr>
	<tr>
		<td colspan=4><h3><TMPL_VAR NAME=T::VZLOGGER.HTTP_CACHE></h3></td>
	</tr>
	<tr>
		<td><TMPL_VAR NAME=T::VZLOGGER.HTTP_CACHE_STATUS></td>
		<td>
			<span><TMPL_VAR NAME=HTTP_CACHE_STATUS></span><br>
			<a class="inline-link <TMPL_VAR HTTP_CACHE_DISABLED>" href="<TMPL_VAR HTTP_CACHE_URL>" target="_blank"><TMPL_VAR NAME=T::VZLOGGER.OPEN_HTTP_CACHE></a>
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.HTTP_CACHE_HELP></font></td>
	</tr>
	<tr>
		<td colspan=4><h3><TMPL_VAR NAME=T::VZLOGGER.UDP_OPTIONS></h3></td>
	</tr>
	<tr>
		<td><label for="sendudp"><TMPL_VAR NAME=T::VZLOGGER.SEND_UDP></label></td>
		<td>
			<select onChange="disable_udp();" id="sendudp" name="sendudp" data-role="flipswitch">
				<option value="0"><TMPL_VAR NAME=T::GENERIC.OFF></option>
				<option value="1"><TMPL_VAR NAME=T::GENERIC.ON></option>
			</select>
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.SEND_UDP_HELP></font></td>
	</tr>
	<tr>
		<td><label id="labeludpport" for="udpport"><TMPL_VAR NAME=T::VZLOGGER.PORT></label></td>
		<td>
			<input id="udpport" name="udpport" type="text" data-validation="number" value="<TMPL_VAR UDPPORT>"
				data-validation-allowing="range[1;65000]">
		</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan=4><h2><TMPL_VAR NAME=T::VZLOGGER.IR_HEADS></h2></td>
	</tr>
	<tr>
		<td colspan=4><a data-icon="refresh" data-role="button" data-inline="true" data-mini="true" href="./index.cgi?rescan=1"><TMPL_VAR NAME=T::VZLOGGER.RESCAN_IR_HEADS></a></td>
	</tr>
	<TMPL_LOOP NAME=ROWS>
	<tr>
		<td colspan=4><h3><TMPL_VAR NAME=SERIAL></h3></td>
	</tr>
	<tr>
		<td><label for="<TMPL_VAR NAME=SERIAL>_name"><TMPL_VAR NAME=T::FORMTABLEROWS.NAME></label></td>
		<td><input id="<TMPL_VAR NAME=SERIAL>_name" name="<TMPL_VAR NAME=SERIAL>_name" type="text" value="<TMPL_VAR NAME=NAME>"></td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=DEVICE></font></td>
	</tr>
	<tr>
		<td><label for="<TMPL_VAR NAME=SERIAL>_meter"><TMPL_VAR NAME=T::FORMTABLEROWS.METER></label></td>
		<td>
			<select id="<TMPL_VAR NAME=SERIAL>_meter" name="<TMPL_VAR NAME=SERIAL>_meter" data-mini="true" data-native-menu="true">
				<option value="0"><TMPL_VAR NAME=T::FORMTABLEROWS.PLEASESELECT></option>
				<option value="manual"><TMPL_VAR NAME=T::FORMTABLEROWS.MANUAL></option>
				<option value="genericd0">Generic D0-Protocol</option>
				<option value="genericsml">Generic SML-Protocol</option>
				<option value="emhed300sml">EMH ED300(S) (SML-Protocol)</option>
				<option value="emhehzksml">EMH eHZ-K / eHZ-IW8E2A (SML-Protocol)</option>
				<option value="iskra173d0">Iskra MT173 (D0-Protocol)</option>
				<option value="iskra173sml">Iskra MT173 (SML-Protocol)</option>
				<option value="iskra174d0">Iskra MT174 (D0-Protocol)</option>
				<option value="iskra174sml">Iskra MT174 (SML-Protocol)</option>
				<option value="iskra175d0">Iskra MT175 (D0-Protocol)</option>
				<option value="iskra175sml">Iskra MT175 (SML-Protocol)</option>
				<option value="iskra382d0">Iskra MT382 (D0-Protocol)</option>
				<option value="iskra631sml">Iskra MT631 (SML-Protocol)</option>
				<option value="iskra681sml">Iskra MT681 (SML-Protocol)</option>
				<option value="iskra691sml">Iskra MT691 (SML-Protocol)</option>
				<option value="itronace3000type260d0">Itron ACE3000 Type 260 (D0-Protocol)</option>
				<option value="landisgyre320d0">Landis &amp; Gyre E320 (D0-Protocol)</option>
				<option value="landisgyre350d0">Landis &amp; Gyre E350 (D0-Protocol)</option>
				<option value="landisgyret550d0">Landis &amp; Gyre T550 (D0-Protocol)</option>
				<option value="pafal20ec3grd0">Pafal 20ec3gr (D0-Protocol)</option>
				<option value="siemenstd3511d0">Siemens TD-3511 (D0-Protocol)</option>
				<option value="siemensuh50do">Siemens UH50 (D0-Protocol)</option>
				<option value="sagemcomt211d0f">Sagemcom S211/T211 Flanders (D0-Protocol)</option>
				<option value="sagemcomt211d0">Sagemcom S211/T211 (D0-Protocol)</option>
			</select>
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.METER_PRESET_HELP></font></td>
	</tr>
	<tr>
		<td><label for="<TMPL_VAR NAME=SERIAL>_protocol"><TMPL_VAR NAME=T::VZLOGGER.MANUAL_PROTOCOL></label></td>
		<td>
			<select id="<TMPL_VAR NAME=SERIAL>_protocol" name="<TMPL_VAR NAME=SERIAL>_protocol" data-mini="true" data-native-menu="true">
				<option value=""><TMPL_VAR NAME=T::VZLOGGER.PRESET_DEFAULT></option>
				<option value="genericsml">SML</option>
				<option value="genericd0">D0</option>
			</select>
			<input name="<TMPL_VAR NAME=SERIAL>_startbaudrate" type="text" placeholder="<TMPL_VAR NAME=T::FORMTABLEROWS.STARTBAUDRATE>" value="<TMPL_VAR NAME=STARTBAUDRATE>">
			<input name="<TMPL_VAR NAME=SERIAL>_baudrate" type="text" placeholder="<TMPL_VAR NAME=T::FORMTABLEROWS.BAUDRATE>" value="<TMPL_VAR NAME=BAUDRATE>">
			<input name="<TMPL_VAR NAME=SERIAL>_timeout" type="text" placeholder="<TMPL_VAR NAME=T::FORMTABLEROWS.TIMEOUT>" value="<TMPL_VAR NAME=TIMEOUT>">
			<input name="<TMPL_VAR NAME=SERIAL>_databits" type="text" placeholder="<TMPL_VAR NAME=T::FORMTABLEROWS.DATABITS>" value="<TMPL_VAR NAME=DATABITS>">
			<input name="<TMPL_VAR NAME=SERIAL>_stopbits" type="text" placeholder="<TMPL_VAR NAME=T::FORMTABLEROWS.STOPBITS>" value="<TMPL_VAR NAME=STOPBITS>">
			<select name="<TMPL_VAR NAME=SERIAL>_parity" data-mini="true" data-native-menu="true">
				<option value=""><TMPL_VAR NAME=T::VZLOGGER.PARITY_DEFAULT></option>
				<option value="none"><TMPL_VAR NAME=T::VZLOGGER.PARITY_NONE></option>
				<option value="even"><TMPL_VAR NAME=T::VZLOGGER.PARITY_EVEN></option>
				<option value="odd"><TMPL_VAR NAME=T::VZLOGGER.PARITY_ODD></option>
			</select>
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.MANUAL_VALUES_HELP></font></td>
	</tr>
	<tr>
		<td><TMPL_VAR NAME=T::VZLOGGER.OBIS_CHANNELS></td>
		<td>
			<TMPL_LOOP NAME=OBIS_CHANNELS>
				<label>
					<input type="checkbox" name="<TMPL_VAR NAME=FIELD_NAME>" value="<TMPL_VAR NAME=IDENTIFIER>" <TMPL_VAR NAME=CHECKED>>
					<TMPL_VAR NAME=IDENTIFIER> - <TMPL_VAR NAME=NAME>
				</label>
			</TMPL_LOOP>
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.OBIS_CHANNELS_HELP></font></td>
	</tr>
	<tr>
		<td><label for="<TMPL_VAR NAME=SERIAL>_obis_custom"><TMPL_VAR NAME=T::VZLOGGER.OBIS_CUSTOM></label></td>
		<td>
			<textarea id="<TMPL_VAR NAME=SERIAL>_obis_custom" name="<TMPL_VAR NAME=SERIAL>_obis_custom" rows="4"><TMPL_VAR NAME=OBIS_CUSTOM></textarea>
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.OBIS_CUSTOM_HELP></font></td>
	</tr>
	<script>
		$("#<TMPL_VAR NAME=SERIAL>_meter").val("<TMPL_VAR NAME=METER>");
		$("#<TMPL_VAR NAME=SERIAL>_protocol").val("<TMPL_VAR NAME=PROTOCOL>");
		$("select[name='<TMPL_VAR NAME=SERIAL>_parity']").val("<TMPL_VAR NAME=PARITY>");
	</script>
	</TMPL_LOOP>
	<tr>
		<td><TMPL_VAR NAME=T::VZLOGGER.GENERATED_CONFIG></td>
		<td colspan=3><code><TMPL_VAR VZLOGGER_CONFIG></code></td>
	</tr>
	<tr>
		<td><TMPL_VAR NAME=T::VZLOGGER.ACTIONS></td>
		<td>
			<button type="submit" name="submitaction" value="validate" title="<TMPL_VAR NAME=T::VZLOGGER.VALIDATE_CONFIG_HELP>" form="vzlogger_form" data-role="button" data-inline="true" data-mini="true" data-icon="alert"><TMPL_VAR NAME=T::VZLOGGER.VALIDATE_CONFIG></button>
			<button type="submit" name="submitaction" value="debug-log" title="<TMPL_VAR NAME=T::VZLOGGER.CREATE_DEBUG_LOG_HELP>" form="vzlogger_form" formtarget="_blank" data-role="button" data-inline="true" data-mini="true" data-icon="search"><TMPL_VAR NAME=T::VZLOGGER.CREATE_DEBUG_LOG></button>
			<button type="submit" name="submitaction" value="apply" title="<TMPL_VAR NAME=T::VZLOGGER.SAVE_APPLY_HELP>" form="vzlogger_form" data-role="button" data-inline="true" data-mini="true" data-icon="gear"><TMPL_VAR NAME=T::VZLOGGER.SAVE_APPLY></button>
		</td>
		<td>&nbsp;</td>
		<td><font size="-1"><TMPL_VAR NAME=T::VZLOGGER.VALIDATE_CONFIG_HELP><br><br><TMPL_VAR NAME=T::VZLOGGER.CREATE_DEBUG_LOG_HELP><br><br><TMPL_VAR NAME=T::VZLOGGER.SAVE_APPLY_HELP></font></td>
	</tr>
	</table>
	</form>

	<script>
		$("#read").val("<TMPL_VAR READ>");
		$("#implementation").val("<TMPL_VAR IMPLEMENTATION>");
		$("#sendudp").val("<TMPL_VAR SENDUDP>");
		$("#vzlogger_debug").val("<TMPL_VAR VZLOGGER_DEBUG>");
		$("#vzlogger_service_debug").val("<TMPL_VAR VZLOGGER_SERVICE_DEBUG>");
		$("#vzlogger_loglevel").val("<TMPL_VAR VZLOGGER_LOGLEVEL>");
		$("#vzlogger_udpinterval").val("<TMPL_VAR VZLOGGER_UDPINTERVAL>");
		disable_cron();
		disable_udp();

		function disable_cron() {
			var disabled = $("#read").val() == "0";
			$("#vzlogger_udpinterval, #sendudp, #udpport, #vzlogger_localport, #vzlogger_debug, #vzlogger_service_debug, #vzlogger_loglevel").toggleClass("ui-disabled", disabled);
			$("#vzlogger_udpinterval, #sendudp, #udpport, #vzlogger_localport, #vzlogger_debug, #vzlogger_service_debug, #vzlogger_loglevel").prop("disabled", disabled);
			disable_udp();
		}

		function disable_udp() {
			if ($("#read").val() == "0" || $("#sendudp").val() == "0") {
				$("#udpport").addClass("ui-disabled");
				$("#labeludpport").addClass("ui-disabled");
			} else {
				$("#udpport").removeClass("ui-disabled");
				$("#labeludpport").removeClass("ui-disabled");
			}
		}
	</script>
</TMPL_IF>

<!-- ****************************************************************************************** -->

